*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  background-color: aqua;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.resume {
  width: 800px;
  height: 1200px;
  margin: auto 0;
  position: relative;
  background-color: darkslategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume__title {
  color: aquamarine;
  font-size: 64px;
  margin-top: 80px;
}

.resume__links-wrapper {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.resume__links-wrapper a {
  color: aquamarine;
  font-weight: bold;
  margin-right: 50px;
}

.resume__links-wrapper a:last-of-type {
  margin-right: 0;
}

.resume__job:first-of-type {
  margin-top: 150px;
}

.resume__job {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.resume__job h2 {
  font-size: 36px;
  color: aqua;
}

.resume__job p {
  color: lightcyan;
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}

.resume__job ol {
  color: aqua;
  margin-top: 20px;
  font-weight: bold;
}

.resume__visitors-count {
  font-weight: bold;
  color: aqua;
  margin-top: 50px;
  font-size: 26px;
}
